body {
  background-color: var(--dark2); /* Dark background */
  color: white; /* Light text for readability */
}

.header-container {
  color: var(--light1);
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  background-color: var(--dark1);
  top: 0;
  z-index: 6;
  opacity: 0.9;
  box-shadow: 0px 1px 2px black;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.content-wrapper {
  margin: 0px auto;
  padding: 0px 5px; 
  max-width: 769px;
}

.main-container {
  min-height: 250px;
  padding-top: 60px;
}

.menu-button {
  background-color: transparent;
  border: 0px none;
  position: relative;
  top: 2px;
  cursor: pointer;
  padding-left: 0px;
}

.side-menu {
  position: fixed;
  width: 250px;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 5;
  background-color: var(--dark1);
  opacity: 0.95;
  -webkit-animation: fade 0.2s linear; /* Safari */
  animation: fade 0.2s linear;
  border-left: 1px solid var(--dark3);
  border-top: 1px solid var(--dark3);

    ul li {
      list-style-type: none;
      margin: 20px;
      a {
        color: white;
    }
  }
}

h1.logo,
h1.logo a {
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin-left: 10px;
}

.header-sub-title {
  margin-left: 15px;
  font-weight: 300;
  color: white;
  margin-top: 3px;
  font-size: 13px;
}

h3.feed-list-title {
  margin: 5px 0px 15px 0px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 26px;
}

.navigation-content {
  display: flex;
  align-items: center;
}

.navigation-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.mobile-menu-button {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border: 0px none;
}

.navigation-right a.header-nav-link {
  font-size: 12px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.list-item-date {
  font-size: 11px;
}

h4.list-item-title {
  font-weight: 300;
}
.list-item-title a {
  padding: 0;
}

.article-list-container,
.video-list-container,
.scipaper-list-container {
  position: relative;
  min-height: 200px;
  margin-bottom: 40px;
}

.article-list li,
.video-list li,
.scipaper-list li {
  list-style: none;
}

li.scipaper-list-item {
  margin-bottom: 12px;
}

li.article-list-item {
  margin-bottom: 12px;
}

li.article-list-item.video-item {
  margin-bottom: 25px;
}

li.article-list-item.video-item a {
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  color: white;
  padding: 5px 0px;
  margin-bottom: 10px;
  font-weight: bold;
  display: inline-block;
}

li.article-list-item.text-item a {
  background-color: transparent;
  border: 1px solid var(--dark3);
  width: 100%;
  font-size: 15px;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 400;
}

.video-list-item {
  margin-bottom: 30px;
}

.article-list li a:hover {
  opacity: 0.7;
}

.article-list li h4 {
  margin-bottom: 6px;
}

.video-list-mini-player {
  height: 250px;
  width: 400px;
}

.article-text-snippet {
  font-size: 14px;
  font-weight: 400;
}

.show-more {
  margin-top: 20px;
}

.show-more .show-more-button {
  background-color: var(--dark2);
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--light1);
  text-transform: uppercase;
  text-decoration: underline;
}

a.show-more-button:hover {
  opacity: 0.7;
}

.footer-container {
  margin-top: 50px;
}

.footer-content {
  font-size: 10px;
}

.go-to-top-container {
  position: fixed;
  bottom: 3px;
  right: 15%;
  width: 100%;
  text-align: right;

  a.go-to-top-button {
    padding: 4px;
    color: white;
    font-size: 12px;
    background-color: var(--dark1);
    border: 1px solid var(--dark3);
  }
}

.loader-container {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
  left: 0;
  right: 0;
}

.loader {
  border: 10px solid var(--dark4);
  border-radius: 50%;
  border-top: 10px solid white;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1.2s linear infinite; /* Safari */
  animation: spin 1.2s linear infinite;
  display: inline-block;
}

.news-page-description {
  margin: 5px 0;
}

h5.news-page-description {
  font-size: 15px;
}

.news-article-image {
  width: 100%;
  max-height: auto;
}

.news-page-url {
  margin-top: 15px;
}

.news-page-url a {
  font-weight: 400;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@media (max-width: 550px) {
  .content-wrapper {
    padding: 0px 15px;
  }
  .header-sub-title {
    display: none;
  }

  .video-list-mini-player {
    width: 300px;
    height: 187px;
  }
}
