html {
  scroll-behavior: smooth;
}

.header-container {
  background-color: #02203c;
  height: 44px;
  border-bottom: 1px solid #cccccc;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.content-wrapper {
  margin: 0px auto;
  padding: 0px 5px;
  max-width: 769px;
}

.main-container {
  min-height: 250px;
  padding-top: 40px;
}

.menu-button {
  background-color: transparent;
  border: 0px none;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.category-menu {
  position: fixed;
  width: 250px;
  background-color: red;
  left: 0;
  height: 100vh;
  z-index: 5;
  background-color: #02203c;
  opacity: 0.9;
  -webkit-animation: fade 0.2s linear; /* Safari */
  animation: fade 0.2s linear;
}

.category-menu ul li {
  list-style-type: none;
  margin: 20px;
}

.category-menu ul li a {
  color: #ffffff;
}

h1.logo,
h1.logo a {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 3px;
}

.header-sub-title {
  margin-left: 15px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 3px;
  font-size: 13px;
}

h3.feed-list-title {
  margin: 5px 0px 15px 0px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #02203c;
  padding-bottom: 10px;
  border-bottom: 2px solid #02203c;
  padding-top: 44px;
}

.navigation-content {
  display: flex;
  align-items: center;
  height: 44px;
}

.navigation-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.mobile-menu-button {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border: 0px none;
}

.navigation-right a.header-nav-link {
  font-size: 12px;
  color: #ffffff;
  margin-right: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.bar1,
.bar2,
.bar3 {
  background-color: #814ded;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -5px);
  transform: rotate(45deg) translate(-6px, -5px);
}

.mobile-menu {
  position: absolute;
  height: auto;
  padding: 10px 0px;
  background: #763aef;
  top: 44px;
  width: 100%;
  -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
  transition: opacity 1s;
}

.mobile-menu.visible {
  opacity: 0.96;
  z-index: 1;
}

.mobile-menu.hidden {
  opacity: 0;
  z-index: -1;
}

.search-input-container button {
  background-color: #ffffff;
  border: 0px none;
  color: #763aef;
  padding: 3px;
  cursor: pointer;
  margin-left: 5px;
}

input.search-input {
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 12px;
  color: #ffffff;
}

input.search-input:focus {
  outline: 0;
}

input.search-input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

h4.menu-title {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 20px;
}

.mobile-menu > ul {
  display: flex;
}

.mobile-menu ul li {
  margin-right: 20px;
  list-style-type: none;
}

.category-navigation-container {
  margin-top: 5px;
}

.category-navigation-container ul {
  display: flex;
  flex-wrap: wrap;
}

.category-navigation-container ul a {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}

.category-navigation-container ul a:hover {
  opacity: 0.8;
}

.list-item-date {
  font-size: 13px;
  color: #02203c;
}

.article-list-container,
.video-list-container,
.scipaper-list-container {
  position: relative;
  min-height: 200px;
  margin-bottom: 40px;
}

.article-list li,
.video-list li,
.scipaper-list li {
  list-style: none;
}

li.scipaper-list-item {
  margin-bottom: 12px;
}

li.article-list-item {
  margin-bottom: 22px;
}

.video-list-item {
  margin-bottom: 30px;
}

.article-list li a,
.video-list li a,
.scipaper-list li a {
  display: inline-block;
  height: auto;
  font-size: 15px;
  padding: 8px 0px;
  color: #02203c;
}

.article-list li a:hover,
.video-list li a:hover,
.scipaper-list li a:hover {
  color: #888888;
}

.article-list li h4,
.video-list li h4,
.scipaper-list li h4 {
  margin-bottom: 6px;
}

.video-list-mini-player {
  height: 250px;
  width: 400px;
}

.article-text-snippet {
  font-size: 14px;
  font-weight: 400;
}

.show-more-button {
  border: 1px solid #02203c;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #02203c;
}

a.show-more-button:hover {
  opacity: 0.7;
}

.footer-container {
  margin-top: 50px;
}

.footer-content {
  font-size: 10px;
}

.loader-container {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
  left: 0;
  right: 0;
}

.loader {
  border: 10px solid #a6b0ba;
  border-radius: 50%;
  border-top: 10px solid #02203c;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1.2s linear infinite; /* Safari */
  animation: spin 1.2s linear infinite;
  display: inline-block;
}

.news-page-description {
  margin: 5px 0;
}

h5.news-page-description {
  font-size: 15px;
}

.news-article-image {
  width: 100%;
  max-height: auto;
}

.news-page-url {
  margin-top: 15px;
}

.news-page-url a {
  color: #02203c;
  font-weight: 400;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@media (max-width: 550px) {
  .content-wrapper {
    padding: 0px 15px;
  }
  .header-sub-title {
    display: none;
  }

  .video-list-mini-player {
    width: 300px;
    height: 187px;
  }
}
