@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
ul,
li,
ol,
td,
tr,
p,
header,
footer,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



:root {
  --dark1: #121212;
  --dark2: #1e1e1e;
  --dark3: #444444;
  --dark4: #a6b0ba;
  --light1: #eeeeee;
}

a,
a:hover,
a:focus,
a:visited {
  color: var(--dark2);
  text-decoration: none;
}

button:focus {
  outline: 0;
}